src/main/resources/META-INF/schemas/myFrameworkConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="myFramework-configuration">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="actions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="action" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="action-class"/>
										<xs:element name="url-pattern"/>
										<xs:element name="form-name"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="forms">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="form" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="form-name"/>
										<xs:element name="form-class"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
